.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

.header {
    background-color: violet;
}

.footer {
    background-color: tomato;
}

.main {
    text-align: left;
    background-color: yellowgreen;
}

.aside-1 {
    background-color: gold;
}
.aside-2 {
    background-color: indigo;
}